<%- include("partials/header") %>

<div class="container-fluid">
  <% posts.forEach(item => { %>
  <h1><%= item.title %></h1>
  <%if (item.body.length > 100) {%>
  <p class="home-paraphs"><%= item.body.substring(0,100) + "..." %></p>
  <a class="read-more" href="<%= "/posts/" + item.title %>">Read More</a>
  <% } else{ %>
  <p><%= item.body %></p>
  <% } %> <% }) %>
</div>

<%- include("partials/footer") %>
